rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() { return request.auth != null && request.auth.token.admin == true; }

    match /products/{file=**} {
      allow read:  if true;
      allow write: if isAdmin();
    }
    match /support-attachments/{ticketId}/{file=**} {
      allow read:  if isAdmin();
      allow write: if request.resource.size < 5 * 1024 * 1024; // 5MB
    }
    match /{path=**} { allow read, write: if false; }
  }
}
